@charset "UTF-8";

@import "reset.css";
@import "font.css";


.hide {display: none !important;}

/* display */
.d-block {display: block !important;}
.d-inline {display: inline-block !important;vertical-align: middle !important;}

.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.longdesc_hidden {overflow:hidden;position:absolute;height:1px;left:-10000px;}

/* position */
.position-fixed {position: fixed;}
.position-relative {position: relative;}
.position-absolute {position: absolute;}

/* 정렬 */
.clearFix:after {content: '';display: block;height: 0;clear: both;}

.floatL {float: left !important;}
.floatR {float: right !important;}

/* text 정렬 */
.align-left {text-align: left !important;}
.align-center {text-align: center !important;}
.align-right {text-align: right !important;}

.align-top {vertical-align: top;}
.align-middle {vertical-align: middle;}
.align-bottom {vertical-align: bottom;}


/* ------------------------------------------------------------------------------------------------------------------------
Grid
------------------------------------------------------------------------------------------------------------------------ */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}

.row > * {
	padding-left: 5px;
	padding-right: 5px;
	flex-shrink: 0;
	/* width: 100%; */
	/* max-width: 100%; */
}

/* .row > .col, .row > [class^="col-"] {
	padding-top: 20px;
	padding-bottom: 20px;
} */

.col {flex: 1 0 0%;}
.col-auto {flex: 0 0 auto;}
.col-1 {flex: 0 0 auto;width: 8.3333333333%;}
.col-2 {flex: 0 0 auto;width: 16.6666666667%;}
.col-3 {flex: 0 0 auto;width: 25%;}
.col-4 {flex: 0 0 auto;width: 33.3333333333%;}
.col-5 {flex: 0 0 auto;width: 41.6666666667%;}
.col-6 {flex: 0 0 auto;width: 50%;}
.col-7 {flex: 0 0 auto;width: 58.3333333333%;}
.col-8 {flex: 0 0 auto;width: 66.6666666667%;}
.col-9 {flex: 0 0 auto;width: 75%;}
.col-10 {flex: 0 0 auto;width: 83.3333333333%;}
.col-11 {flex: 0 0 auto;width: 91.6666666667%;}
.col-12 {flex: 0 0 auto;width: 100%;}

/* ------------------------------------------------------------------------------------------------------------------------
Flex
------------------------------------------------------------------------------------------------------------------------ */
.d-flex {display: flex !important;}
.flex-row {flex-direction: row !important;}
.justify-content-start {justify-content: flex-start !important;}
.justify-content-end {justify-content: flex-end !important;}
.justify-content-center {justify-content: center !important;}
.justify-content-between {justify-content: space-between !important;}
.justify-content-around {justify-content: space-around !important;}
.justify-content-evenly {justify-content: space-evenly !important;}
.align-items-start {align-items: flex-start !important;}
.align-items-end {align-items: flex-end !important;}
.align-items-center {align-items: center !important;}
.align-items-baseline {align-items: baseline !important;}
.align-items-stretch {align-items: stretch !important;}
.flex-grow-1 {flex-grow: 1 !important;}


/* ------------------------------------------------------------------------------------------------------------------------
Width
------------------------------------------------------------------------------------------------------------------------ */
.min-w-auto {min-width: auto !important;}
.w-10 {width: 10px !important;}
.w-20 {width: 20px !important;}
.w-30 {width: 30px !important;}
.w-40 {width: 40px !important;}
.w-50 {width: 50px !important;}
.w-60 {width: 60px !important;}
.w-70 {width: 70px !important;}
.w-80 {width: 80px !important;}
.w-90 {width: 90px !important;}
.w-100 {width: 100px !important;}
.w-110 {width: 110px !important;}
.w-120 {width: 120px !important;}
.w-130 {width: 130px !important;}
.w-140 {width: 140px !important;}
.w-150 {width: 150px !important;}
.w-160 {width: 160px !important;}
.w-170 {width: 170px !important;}
.w-180 {width: 180px !important;}
.w-190 {width: 190px !important;}
.w-200 {width: 200px !important;}
.w-210 {width: 210px !important;}
.w-220 {width: 220px !important;}
.w-230 {width: 230px !important;}
.w-240 {width: 240px !important;}
.w-250 {width: 250px !important;}
.w-260 {width: 260px !important;}
.w-270 {width: 270px !important;}
.w-280 {width: 280px !important;}
.w-290 {width: 290px !important;}
.w-300 {width: 300px !important;}
.w-310 {width: 310px !important;}
.w-320 {width: 320px !important;}
.w-330 {width: 330px !important;}
.w-340 {width: 340px !important;}
.w-350 {width: 350px !important;}
.w-360 {width: 360px !important;}
.w-370 {width: 370px !important;}
.w-380 {width: 380px !important;}
.w-390 {width: 390px !important;}
.w-400 {width: 400px !important;}
.w-410 {width: 410px !important;}
.w-420 {width: 420px !important;}
.w-430 {width: 430px !important;}
.w-440 {width: 440px !important;}
.w-450 {width: 450px !important;}
.w-460 {width: 460px !important;}
.w-470 {width: 470px !important;}
.w-480 {width: 480px !important;}
.w-490 {width: 490px !important;}
.w-500 {width: 500px !important;}
.w-510 {width: 510px !important;}
.w-520 {width: 520px !important;}
.w-530 {width: 530px !important;}
.w-540 {width: 540px !important;}
.w-550 {width: 550px !important;}
.w-560 {width: 560px !important;}
.w-570 {width: 570px !important;}
.w-580 {width: 580px !important;}
.w-590 {width: 590px !important;}
.w-600 {width: 600px !important;}
.w-610 {width: 610px !important;}
.w-620 {width: 620px !important;}
.w-630 {width: 630px !important;}
.w-640 {width: 640px !important;}
.w-650 {width: 650px !important;}
.w-700 {width: 700px !important;}


/* Width (%) */
.w-5p {width: 5% !important;min-width: auto !important}
.w-10p {width: 10% !important;min-width: auto !important}
.w-15p {width: 15% !important;min-width: auto !important}
.w-20p {width: 20% !important;min-width: auto !important}
.w-25p {width: 25% !important;min-width: auto !important}
.w-30p {width: 30% !important;min-width: auto !important}
.w-35p {width: 35% !important;min-width: auto !important}
.w-40p {width: 40% !important;min-width: auto !important}
.w-45p {width: 45% !important;min-width: auto !important}
.w-46p {width: 46% !important;min-width: auto !important}
.w-47p {width: 47% !important;min-width: auto !important}
.w-48p {width: 48% !important;min-width: auto !important}
.w-49p {width: 49% !important;min-width: auto !important}
.w-50p {width: 50% !important;min-width: auto !important}
.w-51p {width: 51% !important;min-width: auto !important}
.w-52p {width: 52% !important;min-width: auto !important}
.w-53p {width: 53% !important;min-width: auto !important}
.w-54p {width: 54% !important;min-width: auto !important}
.w-55p {width: 55% !important;min-width: auto !important}
.w-60p {width: 60% !important;min-width: auto !important}
.w-65p {width: 65% !important;min-width: auto !important}
.w-70p {width: 70% !important;min-width: auto !important}
.w-75p {width: 75% !important;min-width: auto !important}
.w-80p {width: 80% !important;min-width: auto !important}
.w-85p {width: 85% !important;min-width: auto !important}
.w-90p {width: 90% !important;min-width: auto !important}
.w-95p {width: 95% !important;min-width: auto !important}
.w-100p {width: 100% !important;min-width: auto !important;}


/* ------------------------------------------------------------------------------------------------------------------------
Height
------------------------------------------------------------------------------------------------------------------------ */
.h-100 {height: 100px !important;}
.h-110 {height: 110px !important;}
.h-120 {height: 120px !important;}
.h-130 {height: 130px !important;}
.h-140 {height: 140px !important;}
.h-150 {height: 150px !important;}
.h-160 {height: 160px !important;}
.h-170 {height: 170px !important;}
.h-180 {height: 180px !important;}
.h-185 {height: 185px !important;}
.h-190 {height: 190px !important;}
.h-200 {height: 200px !important;}
.h-210 {height: 210px !important;}
.h-220 {height: 220px !important;}
.h-230 {height: 230px !important;}
.h-240 {height: 240px !important;}
.h-250 {height: 250px !important;}
.h-260 {height: 260px !important;}
.h-270 {height: 270px !important;}
.h-280 {height: 280px !important;}
.h-290 {height: 290px !important;}
.h-300 {height: 300px !important;}
.h-310 {height: 310px !important;}
.h-320 {height: 320px !important;}
.h-330 {height: 330px !important;}
.h-340 {height: 340px !important;}
.h-350 {height: 350px !important;}
.h-360 {height: 360px !important;}
.h-370 {height: 370px !important;}
.h-380 {height: 380px !important;}
.h-390 {height: 390px !important;}
.h-400 {height: 400px !important;}
.h-410 {height: 410px !important;}
.h-420 {height: 420px !important;}
.h-430 {height: 430px !important;}
.h-440 {height: 440px !important;}
.h-450 {height: 450px !important;}
.h-460 {height: 460px !important;}
.h-470 {height: 470px !important;}
.h-480 {height: 480px !important;}
.h-490 {height: 490px !important;}
.h-500 {height: 500px !important;}
.h-510 {height: 510px !important;}
.h-520 {height: 520px !important;}
.h-530 {height: 530px !important;}
.h-540 {height: 540px !important;}
.h-550 {height: 550px !important;}
.h-560 {height: 560px !important;}
.h-570 {height: 570px !important;}
.h-580 {height: 580px !important;}
.h-590 {height: 590px !important;}
.h-600 {height: 600px !important;}

/* Height (%) */
.h-100p {height: 100% !important;}
.max-h-100p {max-height: 100% !important;min-height: auto !important;}


/* ------------------------------------------------------------------------------------------------------------------------
Margin
------------------------------------------------------------------------------------------------------------------------ */
.mar0 {margin: 0 !important;}
.mar5 {margin: 5px !important;}
.mar10 {margin: 10px !important;}
.mar15 {margin: 15px !important;}
.mar20 {margin: 20px !important;}
.mar25 {margin: 25px !important;}
.mar30 {margin: 30px !important;}
.mar35 {margin: 35px !important;}
.mar40 {margin: 40px !important;}
.mar45 {margin: 45px !important;}
.mar50 {margin: 50px !important;}
.mar55 {margin: 55px !important;}
.mar60 {margin: 60px !important;}

.marT0 {margin-top: 0px !important;}
.marT5 {margin-top: 5px !important;}
.marT10 {margin-top: 10px !important;}
.marT15 {margin-top: 15px !important;}
.marT20 {margin-top: 20px !important;}
.marT25 {margin-top: 25px !important;}
.marT30 {margin-top: 30px !important;}
.marT35 {margin-top: 35px !important;}
.marT40 {margin-top: 40px !important;}
.marT45 {margin-top: 45px !important;}
.marT50 {margin-top: 50px !important;}
.marT55 {margin-top: 55px !important;}
.marT60 {margin-top: 60px !important;}

.marB0 {margin-bottom: 0px !important;}
.marB5 {margin-bottom: 5px !important;}
.marB10 {margin-bottom: 10px !important;}
.marB15 {margin-bottom: 15px !important;}
.marB20 {margin-bottom: 20px !important;}
.marB25 {margin-bottom: 25px !important;}
.marB30 {margin-bottom: 30px !important;}
.marB35 {margin-bottom: 35px !important;}
.marB40 {margin-bottom: 40px !important;}
.marB45 {margin-bottom: 45px !important;}
.marB50 {margin-bottom: 50px !important;}
.marB55 {margin-bottom: 55px !important;}
.marB60 {margin-bottom: 60px !important;}

.marL0 {margin-left: 0px !important;}
.marL5 {margin-left: 5px !important;}
.marL10 {margin-left: 10px !important;}
.marL15 {margin-left: 15px !important;}
.marL20 {margin-left: 20px !important;}
.marL25 {margin-left: 25px !important;}
.marL30 {margin-left: 30px !important;}
.marL35 {margin-left: 35px !important;}
.marL40 {margin-left: 40px !important;}
.marL45 {margin-left: 45px !important;}
.marL50 {margin-left: 50px !important;}
.marL55 {margin-left: 55px !important;}
.marL60 {margin-left: 60px !important;}

.marR0 {margin-right: 0px !important;}
.marR5 {margin-right: 5px !important;}
.marR10 {margin-right: 10px !important;}
.marR15 {margin-right: 15px !important;}
.marR20 {margin-right: 20px !important;}
.marR25 {margin-right: 25px !important;}
.marR30 {margin-right: 30px !important;}
.marR35 {margin-right: 35px !important;}
.marR40 {margin-right: 40px !important;}
.marR45 {margin-right: 45px !important;}
.marR50 {margin-right: 50px !important;}
.marR55 {margin-right: 55px !important;}
.marR60 {margin-right: 60px !important;}


/* ------------------------------------------------------------------------------------------------------------------------
Padding
------------------------------------------------------------------------------------------------------------------------ */
.pad0 {padding: 0 !important;}
.pad5 {padding: 5px !important;}
.pad10 {padding: 10px !important;}
.pad15 {padding: 15px !important;}
.pad20 {padding: 20px !important;}
.pad25 {padding: 25px !important;}
.pad30 {padding: 30px !important;}
.pad35 {padding: 35px !important;}
.pad40 {padding: 40px !important;}
.pad45 {padding: 45px !important;}
.pad50 {padding: 50px !important;}
.pad55 {padding: 55px !important;}
.pad60 {padding: 60px !important;}

.padT0 {padding-top: 0 !important;}
.padT5 {padding-top: 5px !important;}
.padT10 {padding-top: 10px !important;}
.padT15 {padding-top: 15px !important;}
.padT20 {padding-top: 20px !important;}
.padT25 {padding-top: 25px !important;}
.padT30 {padding-top: 30px !important;}
.padT35 {padding-top: 35px !important;}
.padT40 {padding-top: 40px !important;}
.padT45 {padding-top: 45px !important;}
.padT50 {padding-top: 50px !important;}
.padT55 {padding-top: 55px !important;}
.padT60 {padding-top: 60px !important;}

.padR0 {padding-right: 0 !important;}
.padR5 {padding-right: 5px !important;}
.padR10 {padding-right: 10px !important;}
.padR15 {padding-right: 15px !important;}
.padR20 {padding-right: 20px !important;}
.padR25 {padding-right: 25px !important;}
.padR30 {padding-right: 30px !important;}
.padR35 {padding-right: 35px !important;}
.padR40 {padding-right: 40px !important;}
.padR45 {padding-right: 45px !important;}
.padR50 {padding-right: 50px !important;}
.padR55 {padding-right: 55px !important;}
.padR60 {padding-right: 60px !important;}

.padL0 {padding-left: 0 !important;}
.padL5 {padding-left: 5px !important;}
.padL10 {padding-left: 10px !important;}
.padL15 {padding-left: 15px !important;}
.padL20 {padding-left: 20px !important;}
.padL25 {padding-left: 25px !important;}
.padL30 {padding-left: 30px !important;}
.padL35 {padding-left: 35px !important;}
.padL40 {padding-left: 40px !important;}
.padL45 {padding-left: 45px !important;}
.padL50 {padding-left: 50px !important;}
.padL55 {padding-left: 55px !important;}
.padL60 {padding-left: 60px !important;}

.padB0 {padding-bottom: 0 !important;}
.padB5 {padding-bottom: 5px !important;}
.padB10 {padding-bottom: 10px !important;}
.padB15 {padding-bottom: 15px !important;}
.padB20 {padding-bottom: 20px !important;}
.padB25 {padding-bottom: 25px !important;}
.padB30 {padding-bottom: 30px !important;}
.padB35 {padding-bottom: 35px !important;}
.padB40 {padding-bottom: 40px !important;}
.padB45 {padding-bottom: 45px !important;}
.padB50 {padding-bottom: 50px !important;}
.padB55 {padding-bottom: 55px !important;}
.padB60 {padding-bottom: 60px !important;}
